@model ClinicalAthletes.Models.WeeklyViewModel
@using ClinicalAthletes.Entities
@{
    ViewBag.Title = "WeeklyPlan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@Html.HiddenFor(m => m.UserExerciseTypeSelectionList.Count)
<input type="hidden" id="completedCount" value="1" />
<div class="wrapper">
    <div class="card topspace">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Weight Selection</h4>
        </div>
        <div class="card-content">
            @{
                int index = 1;
                string displayAttr = "style=display:block;";
            }
            @foreach (UserExerciseTypeSelection type in Model.UserExerciseTypeSelectionList)
            {
                if (!index.Equals(1))
                {
                    displayAttr = "style=display:none;";
                }
                <div id="@type.Id" @displayAttr>
                    <div class="col-md-12">
                        <h3 class="title text-danger text-center exname"> @type.ExerciseName.ToUpper()</h3>

                        @if (!type.WeightRequired)
                        {
                            <div class="col-md-5 pull-left">
                                <strong class="text-center">(@type.ExerciseTypeName)</strong>
                            </div>
                            <div class="col-md-4">
                                <strong class="text-center text-danger">Weight Not applicable </strong>

                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div style="height:200px;margin-top:5%;">
                                    <p class="text-center text-primary">
                                        <i class="fa fa-info-circle fa-2x text-primary"></i> No weights requred for @type.ExerciseTypeName, please proceed to next exercise.
                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <strong class="text-center">(@type.ExerciseTypeName)</strong>
                        }

                    </div>
                    <div class="col-md-12">

                        @if (type.WeightRequired)
                        {
                            <div class="table-responsive @type.Id">
                                <table class="table table-shopping">
                                    <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>Week 1</th>
                                            <th>Week 2</th>
                                            <th>Week 3</th>
                                            <th>Week 4</th>
                                            <th>Week 5</th>
                                            <th>Week 6</th>
                                            <th>Week 7</th>
                                            <th>Week 8</th>
                                            <th>Week 9</th>
                                            <th>Week 10</th>
                                            <th>Week 11</th>
                                            <th>Week 12</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-name">Day 1 <input type="text" onkeyup="copyToRow(this,'D1');" class="master" style="width:50px;text-align:center;font-size:1.1em;" value="0" /> copy >></td>
                                            <td>
                                                <input type="text" class="D1W1" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W2" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W3" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W4" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W5" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W6" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W7" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W8" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W9" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W10" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W11" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D1W12" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-name">Day 2 <input type="text" onkeyup="copyToRow(this,'D2');" class="master" style="width:50px;text-align:center;font-size:1.1em;" value="0" /> copy >></td>
                                            <td>
                                                <input type="text" class="D2W1" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W2" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W3" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W4" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W5" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W6" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W7" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W8" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W9" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W10" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W11" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D2W12" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-name">
                                                Day 3 <input type="text" onkeyup="copyToRow(this,'D3');" class="master" style="width:50px;text-align:center;font-size:1.1em;" value="0" /> copy >>
                                            </td>
                                            <td>
                                                <input type="text" class="D3W1" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W2" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W3" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W4" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W5" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W6" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W7" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W8" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W9" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W10" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W11" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                            <td>
                                                <input type="text" class="D3W12" style="width:50px;text-align:center;font-size:1.1em;" value="0" />
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="col-sm-4 col-md-4 col-lg-4 col-lg-offset-5">
                                    <a href="#" rel="@type.Id" class="btn btn-lg btn-primary btSubmit" onclick="SaveAndContinue(@type.Id,true   )">Next Exercise <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4 col-md-4 col-lg-4 col-lg-offset-5">
                                <a href="#" rel="@type.Id" class="btn btn-lg btn-primary btSubmit" onclick="SaveAndContinue(@type.Id,false)">Next Exercise <i class="fa fa-arrow-right"></i></a>
                            </div>
                        }
                    </div>
                </div>
                index++;
            }

        </div>
    </div>
</div>
<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" />
<script>
    function SaveAndContinue(id, weightRequired) {

        var count = parseInt($("#completedCount").val());

        $("#completedCount").val(count);

        var divtoShow = id + 1;
        var target = $("#" + divtoShow);

        var countOne = Number.parseInt($("#completedCount").val());
        var countTwo = Number.parseInt($("#UserExerciseTypeSelectionList_Count").val());

        if ((countOne + 1) >= countTwo) {
            $(".btSubmit").html('Save &amp; Continue <i class="fa fa-arrow-right"></i>')
        }

        $(target).show().siblings("div").hide();
        if (!weightRequired && (countOne < countTwo)) {
            var countIncrement = Number.parseInt($("#completedCount").val());
            countIncrement++;
            $("#completedCount").val(countIncrement);
            return;
        }

        if ($("#completedCount").val() >= $("#UserExerciseTypeSelectionList_Count").val()) {
            kendo.ui.progress($("body"), true);
            return window.location.href = '/User/Buy?planId=' +@Model.UserExercisePlanSelection.Id;
        }


        var userExerciseWeightSelectionList = [];

        $("." + id + "> table").each(function () {

            var fields = $(this).find(":text");

            for (var i = 0; i <= fields.length - 1; i++) {
                var classnm = fields[i].className;
                if (classnm !== 'master') {
                    var DayNumber = classnm.substr(1, 1);
                    var SetNumber = 0;
                    var WeekNumber = 0;

                    if (classnm.length === 4)
                        WeekNumber = classnm.substr(3, 1);
                    else
                        WeekNumber = classnm.substr(3, 2);

                    var Weight = fields[i].value;

                    var userExerciseWeightSelection = {
                        userExerciseTypeSelectionId: id,
                        weekNumber: WeekNumber,
                        dayNumber: DayNumber,
                        setNumber: SetNumber,
                        weight: Weight
                    }

                    userExerciseWeightSelectionList.push(userExerciseWeightSelection);
                }
            }


            $.ajax({
                type: 'POST',
                url: "/api/exercise/saveUserExerciseWeightSelections",
                data: JSON.stringify(userExerciseWeightSelectionList),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if ($("#completedCount").val() >= $("#UserExerciseTypeSelectionList_Count").val()) {
                        kendo.ui.progress($("body"), true);
                        return window.location.href = '/User/Buy?planId=' +@Model.UserExercisePlanSelection.Id;
                    }
                    var countIncrement = Number.parseInt($("#completedCount").val());
                    countIncrement++;
                    $("#completedCount").val(countIncrement);
                    $('.exname').addClass('notification');
                },
                error: function (data) {
                    alert('An error occured! Please try again.');
                }
            });
        });

    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function copyToRow(e, c) {
        var fields = $('[class^=' + c + ']');
        for (var i = 0; i <= fields.length - 1; i++) {
            fields[i].value = $(e).val();
        }
    }

    $(document).ready(function () {
        var fields = $('[class^=D1]');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        fields = $('[class^=D2]');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        fields = $('[class^=D3]');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        fields = $('[class^=D4]');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        fields = $('[class^=D5]');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        fields = $('[class^=D6]');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }

        fields = $('.master');
        for (var i = 0; i <= fields.length - 1; i++) {

            $(fields[i]).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        }
    });
</script>

