@using ClinicalAthletes.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">

                <div class="header header-primary text-center">
                    <h4 class="card-title"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</h4>
                </div>
                <div class="card-content">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @id = "login-form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <div class="form-group is-empty">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email..." })
                                    <span class="material-input"></span>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <div class="form-group is-empty">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password..." })
                                    <span class="material-input"></span>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">

                                </span>
                                <div class="form-group is-empty">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>

                            <div class="footer text-center">
                                <div class="form-group is-empty">
                                    <button class="btn btn-primary" id="btnSubmit" value="Log In" type="submit"
                                            data-loading-text="<i class='fa fa-lg fa-spin fa-circle-o-notch'></i>">
                                        Log In
                                    </button>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("form#login-form").submit(function () {
                if ($(this).valid()) {
                    var $btn = $("#btnSubmit");
                    $btn.button('loading');
                }
            });
        });
    </script>
}
